.shop-item {
  width: 265px;
  height: 450px;

  display: flex;
  flex-direction: column;
}

.shop-item-image {
  width: 260px;
  height:265px;
  align-self: center;
}

.shop-item-name{
  font-size: 18px;
  margin-top: 10px;
}

.shop-item-price {
  margin-bottom: 20px;
}

.shop-item-add {
  width: 260px;
  height: 40px;
  align-self: center;
}
